ul.list-group
    li.list-group-item Dashboard
    li.list-group-item Applications
    li.list-group-item Scripts
    li.list-group-item Configs

ul.list-group
    li.list-group-item Cluster
    li.list-group-item Cluster Health
    li.list-group-item Cluster Install
    li.list-group-item Cluster Scripts
    li.list-group-item Cluster Configs

ul.list-group
    li.list-group-item
        a(href='/documentation') RESTfull api